schedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="timetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="schedule">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="weekday" type="xs:string" />
              <xs:element name="subject" type="xs:string" />
              <xs:element name="group" type="xs:string" />
              <xs:element name="type" type="xs:string" />
              <xs:element name="classroom" type="xs:string" />
              <xs:element name="teacher" type="xs:string" />
              <xs:element name="starttime" type="xs:string" />
              <xs:element name="endtime" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>